{% extends 'base.html.twig' %}

{% block body %}

    <article class="container wrapper edit">
        <h1>Изменить статью</h1>

        {{ include('form/_form.html.twig',{
            button_text: 'Обновить'
        }) }}
    </article>

{% endblock %}