{% extends 'base.html.twig' %}

{% block body %}

<article class="container wrapper list_article">
    <h1>Все статьи</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Автор</th>
            <th>Published?</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>
                    <span class="fa fa"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_article_new') }}" class="btn btn-primary pull-right">Создать</a>
</article>
{% endblock %}

