{% extends 'base.html.twig' %}

{% block body %}

<article class="container wrapper edit">
    <h1>Форма Создания статьи</h1>
   {{ include('form/_form.html.twig', {
       button_text: 'Создать'
   }) }}
</article>

{% endblock %}