{% extends 'base.html.twig' %}

{% block body %}

<article class="article container">
    <h1>{{ title }}</h1>
    <div class="card mb-3">
<<<<<<< HEAD
        <img src="/images/base/kosmosBlack.jpg" class="card-img-top" alt="...">
=======
<<<<<<< HEAD
        <img src="/images/base/kosmosBlack.jpg" class="card-img-top" alt="...">
=======
        <img src="{{ asset('images/base/kosmosBlack.jpg') }}" class="card-img-top" alt="...">
>>>>>>> stylesheets
>>>>>>> stylesheets
        <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <div class="mine">
                <p>
                    Бекон ипсум долор амет филе миньон пиканья кильбаса челюсть гамбургер шанкл билтонг курица индейка пастрами купим свиная отбивная. Цыпленок andouille прошутто capicola picanha, грудинка t-bone. Свиная отбивная с тремя кончиками, короткие ребрышки, свиная ветчина. Фрикадельки Landjaeger, рулет из говядины, стейк из кильбасы, леберка пиканья, свинина, курица, панчетта, свинина, корейка, гамбургер.
                </p>
                <p>
                    Kielbasa свиная грудинка фрикаделька купим бургдогген чак индейка буйвол молотый круглый леберка коровья голень короткая корейка бекон алькатра. Leberkas свиная корейка по-корейски, окорок из говядины, брезаола, турдукен, хвост, пастрами, пиканья, панчетта и румяный бекон. Пастрами свиная крупа фрикадельки миньон индейка алькатра. Филе миньон Picanha молотый круглый язык ветчина скакательный сустав кончик шара три-наконечник, прошутто leberkas kielbasa короткая поясница с короткими ребрами голень. Свинья с бочком по-корейски с короткими корешками вяленая ветчина, скакательный валок, прошутто, с косточкой, салями, свиная челюсть.
                </p>
                <p>
                    Свиная отбивная пастрами с короткими корейками, свиная кильбаса, свиной турдукен, вяленая говядина с короткими ребрами. Короткие ребра алькатра плечо, бочка свиная отбивная голень. Хвостовая крупа свиная отбивная, свинья буден, куриное порчетта. Донер донер biltong, грудинка капиколы, колбаса, мясной рулет, говяжьи ребра, кевин, говяжий хребет, рибай, тибон. Мясной рулет с панировкой по плечу, бекон из говядины с кевином и сосиской. Франкфуртер Брезаола Чак Кевин Буффало стейк из свинины, корейки говядины, ребрышки прошутто пиканья с ножкой. Барабанная палочка прошутто панчетта с говяжьими ребрышками.
                </p>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</article>

    <div class="comment container">
        <h2>Комментарии {{ comments|length }}</h2>
        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}